* {
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

#main {
    width: auto;
    height: 100px;
}

#bg-custom {
    background: linear-gradient(to right, #FEFF86, #FFB4B4, #DAF5FF);
    transition: all 0.4s ease;
}

#img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    user-select: none;
}

#o-hidden {
    overflow: hidden !important;
}

#loader {
    background: white url(../img/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}